body {
    background: rgb(248, 244, 244);
    font-family: 'Exo', sans-serif;
}


///////////////VARIABLES////////////////////
$accentOrange: #e36d32;


$mobile-break: 320px;
$tablet-break: 768px;
$desktop-break: 1200px;

//////////////////////// HEADER ///////////////////////////
@media (min-width: $mobile-break) {

    header {
        z-index: 10;
    }

    #logo {
        z-index: 10;
        float: right;
        padding: 5px;
        animation: logo-ani 2s 1 cubic-bezier(0.78, 0.01, 0, 0.96);
       
    }

    @keyframes logo-ani {
        0% {
            transform: translateY(-90px);
            
        }

        50% {
            transform: translateY(9px);
        }

        100% {
            transform: translateY(0px);
        }
    }

    #hamburger {
        z-index: 1;
        display: inline-block;
        padding: 10px 10px 0px 10px;
        cursor: pointer;

        .line-1, .line-2, .line-3 {
            width: 35px;
            height: 5px;
            background-color: #333;
            margin: 6px 0;
            transition: 0.4s; 
        }

        .change.line-1 {
            transform: rotate(-45deg) translate(-9px, 6px) ;
        }

        .change.line-2 {
            opacity: 0;
        }

        .change.line-3 {
            transform: rotate(45deg) translate(-8px, -8px) ;
        }

        #hamburger.menu-ani {
            transition: .7;
            background-color: red;
        }

    }

///////////////////////////////////////////////////////// NAV MENU
    .menu-menu-1-container {
       display: none;
       margin-bottom: -10px;
    }

   
    .menu-menu-1-container a {
        text-decoration: none;
       
    }

    #menu-item-78, #menu-item-79 {
        margin-right: 10px;
    }

    .menu-menu-1-container li {
       float: left;
    }

///////////////////////////////////////////////////////// END OF NAV

    .hero-container {

    .hero-img-container {
        width: 100vw;
        position: relative;
        
        img {
            width:100%;
        }

        .home-blurb-box {
            border-radius: 1px;
            width: 100vw;
            height: 100%;
            z-index: 0;
            position: absolute;
            top: 0;
            left: 0;
            background-color:rgba(0,0,0,0.3);
        }
    }
       
           

        #hero-image-top {
            width: 100%;
        }
        

        .home-blurb {
            white-space: nowrap;
            position: absolute;
            font-size: 2em;
            z-index: 1;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
        }

        

        .home-blurb-2 {
            white-space: nowrap;
            font-size: .8em;
            z-index: 1;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $accentOrange;
        }

        .home-scroll-down {
            display: none;
        }
    }

    #logo-arrow-image {
        position: absolute;
        width: 100%;
        z-index: -10;
        margin-top: -10px;
    }
}









// .menu {
//         ul{
//         text-align: center;
//         padding: 20px 0 0 20px;
//         background: white;
        
//         li {
//             padding: 40px;
//             margin: 10px;
//             display: inline;
//         }

//         a {
//             font-size: 1.5em;
//             font-weight: bold;
//             text-decoration: none;
//             color: black;
//         }

//         a:hover {
//             color: red;
        
//         }
//     } 
// }

////////////////////////////////CONTENT HOME////////////////////////////////
// .hero-container {
//     position: relative;
//     text-align: center;
//     cursor: default;

//     #hero-image-top {
//         width: 100%;
//         position: relative;
//         left: 0%;
//         top: 0%;
//     }

//     #hero-image-top:hover {
//         filter: grayscale(40%);
//     }



//     .home-blurb {
//     font-size: 2.5em;
//     z-index: 1;
//     position: absolute;
//     top: 17%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     color: black
//     }

//     .home-blurb-box {
//     border-radius: 1px;
//     width: 310px;
//     height: 60px;
//     z-index: 0;
//     position: absolute;
//     top: 17%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     background: black;
//     opacity: .3;
//     }

//     .home-blurb-2 {
//         font-size: 1.2em;
//         z-index: 1;
//         position: absolute;
//         top: 22%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//         color: orange;
//     }

//     div.arrow {
//         width: 6vmin;
//         height: 6vmin;
//         box-sizing: border-box;
//         position: absolute;
//         left: 50%;
//         top: 55%;
//         transform: translate(-50%, -50%) rotate(135deg) ;
//         z-index: 12;
        
//         &::before {
//             content: '';
//             width: 100%;
//             height: 100%;
//             border-width: .8vmin .8vmin 0 0;
//             border-style: solid;
//             border-color: #fafafa;
//             transition: .2s ease;
//             display: block;
//             transform-origin: 100% 0;
//             border-radius: 5px;
//         }
             
//     }

//     .home-scroll-down {
//         font-size: 1.2em;
//         position: absolute;
//         top: 53%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//         color: rgb(255, 255, 255);
//         font-weight: 900;
//         z-index: 1;
//     }
// }




/////////////////////////////////////PORTFOLIO CONTENT//////////////////////////////////////

// .portfolio-header {
//     text-align: center;
//     padding: 20px;
//     font-size: 2em;
// }
// #portfolio-container  {
//     width: 1024px;  
//     margin: auto;
//     border: 1px solid red;
// }