body {
    background: white;
}

#hero-image {
    width: 100%;
    z-index: -1;
    
}

#hero-image:hover {
    filter: grayscale(90%);
}

.menu {
        ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 10px 0 0 10px;
        margin-bottom: -50px;

        li {
            padding: 10px;
            margin-right: 40px;
            z-index: 10;
        }

        a {
            text-decoration: none;
        }
    } 
}

#footer {
    background: blue;
}