body {
    background: white;
}

#hero-image {
    width: 100%;
}

#hero-image:hover {
    filter: grayscale(90%);
}


#header {
    background: red;
   
}


.menu ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
}
#footer {
    background: blue;
}