body {
  background: white; }

#hero-image {
  width: 100%; }

#hero-image:hover {
  -webkit-filter: grayscale(90%);
          filter: grayscale(90%); }

#header {
  background: red; }

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px; }

#footer {
  background: blue; }
