body {
  background: #f8f4f4;
  font-family: 'Exo', sans-serif; }

@media (min-width: 320px) {
  #hamburger {
    display: inline-block;
    padding: 10px 10px 0px 10px;
    cursor: pointer; }
    #hamburger .line-1, #hamburger .line-2, #hamburger .line-3 {
      width: 35px;
      height: 5px;
      background-color: #333;
      margin: 6px 0;
      -webkit-transition: 0.4s;
      transition: 0.4s; }
    #hamburger .change.line-1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
              transform: rotate(-45deg) translate(-9px, 6px); }
    #hamburger .change.line-2 {
      opacity: 0; }
    #hamburger .change.line-3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
              transform: rotate(45deg) translate(-8px, -8px); }
  .menu-menu-1-container {
    display: none; }
  .menu-menu-1-container ul {
    padding: 0px 0px 20px 0px; }
  .menu-menu-1-container a {
    text-decoration: none;
    padding: 10px; }
  .menu-menu-1-container li {
    float: left; }
  .hero-container {
    position: relative; }
    .hero-container #hero-image-top {
      width: 100%; }
    .hero-container .home-blurb {
      position: absolute;
      font-size: 1em;
      z-index: 1;
      top: 17%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      color: blue; } }

.menu ul {
  text-align: center;
  padding: 20px 0 0 20px;
  background: white; }
  .menu ul li {
    padding: 40px;
    margin: 10px;
    display: inline; }
  .menu ul a {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: black; }
  .menu ul a:hover {
    color: red; }

.portfolio-header {
  text-align: center;
  padding: 20px;
  font-size: 2em; }

#portfolio-container {
  width: 1024px;
  margin: auto;
  border: 1px solid red; }
