body {
  background: #f8f4f4;
  font-family: 'Exo', sans-serif; }

@media (min-width: 320px) {
  header {
    z-index: 10; }
  #logo {
    z-index: 10;
    float: right;
    padding: 3px 5px 0px 0px;
    -webkit-animation: logo-ani 2s 1 cubic-bezier(0.78, 0.01, 0, 0.96);
            animation: logo-ani 2s 1 cubic-bezier(0.78, 0.01, 0, 0.96); }
  @-webkit-keyframes logo-ani {
    0% {
      -webkit-transform: translateY(-90px);
              transform: translateY(-90px); }
    50% {
      -webkit-transform: translateY(9px);
              transform: translateY(9px); }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px); } }
  @keyframes logo-ani {
    0% {
      -webkit-transform: translateY(-90px);
              transform: translateY(-90px); }
    50% {
      -webkit-transform: translateY(9px);
              transform: translateY(9px); }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px); } }
  #hamburger {
    z-index: 1;
    display: inline-block;
    padding: 10px 10px 0px 10px;
    cursor: pointer; }
    #hamburger .line-1, #hamburger .line-2, #hamburger .line-3 {
      width: 35px;
      height: 5px;
      background-color: #333;
      margin: 6px 0;
      -webkit-transition: 0.4s;
      transition: 0.4s; }
    #hamburger .change.line-1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
              transform: rotate(-45deg) translate(-9px, 6px); }
    #hamburger .change.line-2 {
      opacity: 0; }
    #hamburger .change.line-3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
              transform: rotate(45deg) translate(-8px, -8px); }
    #hamburger #hamburger.menu-ani {
      -webkit-transition: .7;
      transition: .7; }
    #hamburger .site-nav {
      display: none; }
      #hamburger .site-nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; }
      #hamburger .site-nav a {
        text-decoration: none;
        margin-left: 20px; }
  .menu-menu-1-container {
    display: none;
    margin-bottom: -10px; }
  .menu-menu-1-container a {
    text-decoration: none; }
  #menu-item-78, #menu-item-79 {
    margin-right: 10px; }
  .menu-menu-1-container li {
    float: left; }
  .hero-container .hero-img-container {
    width: 100vw;
    position: relative; }
    .hero-container .hero-img-container img {
      width: 100%; }
    .hero-container .hero-img-container .home-blurb-box {
      border-radius: 1px;
      width: 100vw;
      height: 100%;
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.3); }
  .hero-container #hero-image-top {
    width: 100%; }
  .hero-container .home-blurb {
    white-space: nowrap;
    position: absolute;
    font-size: 2em;
    z-index: 1;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: white; }
  .hero-container .home-blurb-2 {
    white-space: nowrap;
    font-size: .8em;
    z-index: 1;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #e36d32; }
  .hero-container .home-scroll-down {
    display: none; } }

@media (min-width: 768px) {
  #menu {
    margin-top: 10px; }
  .hero-container .home-blurb {
    font-size: 3em; }
  .hero-container .home-blurb-2 {
    font-size: 1.2em; }
  .hero-container .hero-img-container {
    margin-bottom: -10px; } }

#work {
  width: 100%;
  cursor: pointer; }
  #work .portfolio-img {
    background-image: url("../images/logo-arrow.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 18%;
    margin-top: 100px; }
  #work .hansel {
    background-image: url("../images/hansel.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 67%;
    height: 0;
    padding-bottom: 20%;
    float: left; }
  #work .react {
    background-image: url("../images/oldspice.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 33%;
    padding-bottom: 38%;
    float: right; }
  #work .vue {
    background-image: url("../images/test2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20px -180px;
    width: 67%;
    padding-bottom: 18%;
    float: left; }
  #work .vma {
    background-image: url("../images/mtv.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 26%;
    padding-bottom: 18%;
    float: left; }
  #work .game {
    background-image: url("../images/game.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 26%;
    padding-bottom: 18%;
    float: left; }

.me {
  background-image: url("../images/me.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50%;
  padding-bottom: 35%;
  margin-top: 15%;
  float: none;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%); }

#about-me {
  margin-bottom: 20px;
  padding-bottom: 5px;
  width: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%); }
  #about-me h1 {
    margin-top: 0px;
    margin-bottom: 20px;
    border-bottom: 1px solid orange;
    font-size: 2em;
    text-align: center; }
  #about-me p {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 100px; }

footer {
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20%; }
  footer .mobile-bottom-nav a {
    text-decoration: none;
    color: black;
    padding: 10px; }

.work-box {
  display: none;
  background-color: white;
  z-index: 12;
  overflow-y: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  margin: 0;
  max-height: 90vh;
  width: 60%; }

@media screen and (min-width: 320px) {
  #about-me h1 {
    font-size: 1em; }
  #about-me p {
    font-size: .8em;
    margin-bottom: 100px; } }

@media screen and (min-width: 768px) {
  #work {
    width: 70%;
    margin: auto; }
  .me {
    margin-top: 50px; }
  #about-me h1 {
    font-size: 1.3em; }
  #about-me p {
    font-size: 1em;
    margin-bottom: 100px; } }
